*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

.container{
    width: 1920px; 
    margin: 0 auto;
}

body{
    font-family: 'Inter', sans-serif;
    font-family: 'Noto Sans', sans-serif;
}

.title{
font-size: 48px;
font-weight: 600;
}

.title_w{
    color: ;
}

.text{
font-size: 18px;
font-weight: 400;
}

.text_w{
    color: ;
}

/* one */

.one{
    display: flex;
    background: #F6F5F4;
}

.one__wrap{
    display: flex;
}

.one__pic{
    display: flex;
    width: 608.73px;
    height: 507.28px;
    left: 51.77px;

}
.one__texts{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.one_title{
    display: flex;
    Size: 56px;
    width: 531;
    height: 201;
    
    font-family: Dela Gothic One;
    font-size: 56px;
    font-weight: 400;
    line-height: 67px;
    letter-spacing: -0.04em;
    text-align: left;

}

.one__text{
    width: 396.89px;
    height: 50px;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: -0.04em;
    text-align: left;

}

.about__enter{
    color: #2B788B;
    width: 121px;
    height: 16px;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: -0.04em;
    text-align: left;

}
/* two */

.two{
    display: flex;
    background: #FFFFFF;
}

.two__block{
    display: flex;
    justify-content: space-between;
}

.two__text{
    display: flex;
    width: 396.89px;
    height: 50px;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: -0.04em;
    text-align: left;
    
}

.two__title{
    width: 474.46px;
    height: 144px;
    font-family: Dela Gothic One;
    font-size: 48px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: -0.04em;
    text-align: left;
}


.stat__enter{
    color: #2B788B;
    width: 85px;
    height: 16px;
    
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: -0.04em;
    text-align: left;


}

/* h */

.h__title{
    display: flex;
    text-align: center;
    margin-bottom: 67px;
}

.h__row{
    display: flex;
    justify-content: space-between;
}

.h__card{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h__text{
    display: flex;
    text-align: center;
    margin-top: 30px;
}




/* header */

.header{
    display: flex;
    width: 1920px 88px;
    background: #F6F5F4;
}

.header__wrap{
    display: flex;
    width: 1,180px 40px;
    top: 24px;
    left: 370px;
    border-radius: 57.82px;
    justify-content: space-between;
}

.header__menu{
    display: flex;
    
}
.header__block{
    display: flex;
    width: 540px;
    height: 22px;
    row-gap: 30;
    flex-direction: row;
    
}
.h__card{
    display: flex;
    justify-content: space-between;
}

.header__item a{
    display: flex;
    color: #FBFAF7;
    font-size: 16px;
    font-weight: 400;
}

.header__item{
    display: flex;
    margin-left: 24px;
}

.header__item_g{
    
}

.h__text__home{
    width: 49px;
    height: 22px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: -0.04em;
    text-align: left;
        
}

.h__text__textbook{
    width: 72px;
    height: 22px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: -0.04em;
    text-align: left;
        
}

.h__text__stat{
    width: 70px;
    height: 22px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: -0.04em;
    text-align: left;
        
}

.h__text__games{
    width: 55px;
    height: 22px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: -0.04em;
    text-align: left;
        
}


/* sign in */


.signin{
    font-family: 'Inter', sans-serif;
    font-family: 'Noto Sans', sans-serif;
}

.signin__wrap{
    display: flex;
}

.signin__block{
    padding: 48px 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.signin__signup{
    display: flex;
}

.signin__box{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signin__title{
    font-size: 20px;
    font-weight: 500;
    color: #111;
    margin-bottom: 35px;
}

.signin__google{
    border-radius: 8px;
    border: 1px solid #455EED;
    padding: 7.5px 108.29px 8px;
    color: #455EED ;
    background: #FBFAF7 ;
    margin-bottom: 30px;
    width: 100%;
}

.signin__input{
    border-radius: 8px;
    background: #F6F6F6;
    padding: 7.5px 9px 10px 9px;
    width: 100%;
    margin-bottom: 17px;
    border: none;
}

.signin__enter{
    border-radius: 8px;
    border: 1px solid #A7A5A5;
    padding: 7.5px 108.29px 8px;
    color: #fff ;
    background: #A7A5A5 ;
    margin-bottom: 30px;
    width: 100%;
}

hr{
    margin-bottom: 30px;
}

/* footer */

.footer{
    display: flex;
    width: 1920px;
    height: 104px;
    padding: 52px, 57.05px, 38px, 104.95px;
    gap: 10px;
    font-family: Montserat;
    background: #F6F5F4;
}

.footer__wrap{
    display: flex;
    width: 1758px;
    height: 14px;
    top: 52px;
    left: 104.95px;
    padding: 0px, 79px, 0px, 0px;
    gap: 10px;

}

.footer__corp{
    display: flex;
    width: 246px;
    height: 12px;
    size: 12px;
    font-weight: 600;
    font-family: Montserrat;
    font-size: 12px;
   
    line-height: 12px;
    letter-spacing: 0em;
    text-align: left;


}

.footer__block{
    display: flex;
    width: 414px;
    height: 14px;
    left: 1265px;
    gap: 30px;
    
}

.f__card{
    display: flex;
    justify-content: space-between;
}

.f__text__home{
    display: flex;
    width: 44px;
    height: 14px;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;


}

.f__text__textbook{
    width: 67px;
    height: 14px;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;


}

.f__text__stat{
    width: 66px;
    height: 14px;

    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
}

.f__text__sprint{
    width: 44px;
    height: 14px;

    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
}

.f__text__audio{
    width: 73px;
    height: 14px;

    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
}












